<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>New Customer</title>
</head>

<body>
	<h1>Register New Customer</h1>
	<form method="post" action="newCustomer" onsubmit="return registered()">
		<div>
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname" required />
		</div>
		<div>
			<label for="lastname">Last Name:</label>
			<input type="text" id="lastname" name="lastname" required />
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required />
		</div>
		<div>
			<label for="gender">Gender:</label>
			<input type="text" id="gender" name="gender" required />
		</div>
		<div>
			<label for="contactNumber">Contact Number:</label>
			<input type="text" id="contactNumber" name="contactNumber" required />
		</div>
		<div>
			<label for="country">Country:</label>
			<input type="text" id="country" name="country" required />
		</div>
		<div>
			<label for="dob">Date of Birth:</label>
			<input type="text" id="dob" name="dob" />
		</div>
		<div>
			<label for="receivedDate">Received Date:</label>
			<input type="text" id="receivedDate" name="receivedDate" />
		</div>
		<div>
			<button type="submit">Register</button>
		</div>
	</form>
</body>

<script>
	function registered() {
		const firstname = document.getElementById("firstname").value;
		const lastname = document.getElementById("lastname").value;
		const email = document.getElementById("email").value;
		const gender = document.getElementById("gender").value;
		const contactNumber = document.getElementById("contactNumber").value;
		const country = document.getElementById("country").value;


		// Check if all input fields are valid
		if (firstname !== "" && lastname !== "" && email != "" && gender != "" && contactNumber != "" && country != "") {
			alert("등록완료");
			return true;
		} else {
			return false;
		}
	}
</script>


</html>